.time {
    position: absolute;
    bottom: 2vh;
    right: 2vh;
    opacity: 0.5;
    text-align: right;
}

.time > * {
    display: block;
    font-size: 4em;
    line-height: 1em;
}

.forecast {
    display: flex;
    flex-direction: row;
}

.forecast-day {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2px;
    flex: 1;
}

.draggable {
    position: absolute;
    user-select: none;
}

textarea {
    user-select: all;
    width: 100%;
    max-width: 100%;
    height: 80vh;
    font-size: 1.5em;
}

body {
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
}

.forecast-day > .wi {
    padding: 4px;
}

.window {
    z-index: 5;
}

.window.dragging, .window.last {
    z-index: 6;
}

.window.closed {
    display: none;
}

.titlebar, .window:not(.headless)::before {
    display: block;
    position: relative;
    margin-bottom: 1em;
    width: 100%;
    height: 18px;
    line-height: 18px;
    text-indent: 24px;
    background-image: url("greensteam/steamico.png"), url("greensteam/close.png");
    background-repeat: no-repeat;
    background-position: top left, top right;
}

.desktop {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10vw;
    height: 10vw;

    max-width: 100px;
    max-height: 100px;

    margin: 8px;
    font-size: 1.75em;

    user-select: none;
}

.icon img {
    max-width: 6vw;
    max-height: 6vw;

    max-width: 60px;
    max-height: 60px;
    border: none;
}

.icon.selected {
    background-color: rgba(255, 255, 255, 0.2);
}